<% provide(:title, "Edit Team") %>

<div class="container edit">
  <div class="row">
    <div class="col s12">
      <h2>Edit Team</h2>
    </div>
  </div>
  <div class="row team">
    <%= form_with(model: @team) do |f| %>
      <div class="col s11 input-field name">
        <%= f.label :name %>
        <%= f.text_field :name, class: "validate #{form_validate(@team, :name)} form-control" %>
        <% if message = form_error(@team, :name) %>
          <span class="helper-text" data-error="<%= message %>"></span>
        <% end %>
      </div>
      <div class="col s1 button">
        <%= button_tag 'SUBMIT', class: 'btn waves-effect waves-light', type: 'button', onclick: 'submit();' %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col s12">
      <h2>Users</h2>
    </div>
  </div>
  <% @team.users.where.not(id: current_user.id).each_with_index do |user, i| %>
    <% if i.even? %>
    <div class="row">
    <% end %>

    <div class="col l6 s12">
      <%= form_with(model: @team) do |f| %>
        <div class="user">
          <p class="name"><%= user.name %></p>
          <p class="role">
            <%= f.select "user[#{user.id}]", UserTeam.roles.to_a, {selected: UserTeam.roles[user.role(@team)]}, {"data-user": user.id} %>
          </p>
          <p class="delete">
            <%=
              link_to content_tag(:i, 'delete', class: 'small material-icons'),
                      banish_team_path(@team.id, team: { users: [user.id] }),
                      method: :post,
                      data: {confirm: "Are you sure you want to banish #{user.name}?"}
            %>
          </p>
        </div>
      <% end %>
    </div>

    <% if !i.even? || i == @team.users.size - 1 %>
    </div>
    <% end %>
  <% end %>
  <script>
    $(document).ready(function(){
      $("select[id^=team_user]").change(function(){
        var team = <%= @team.id =%>;
        var user = $(this).data("user");
        var role = $(this).val();
        $.post(`/teams/${team}/role`, {id: team, team: {users: [user], roles: [role]}}, function(response){
          window.location.reload();
        });
      });
    });
  </script>
</div>