<% provide(:title, 'Index Teams') %>

<div class="container">
  <div class="row">
    <h2>Index Team</h2>
    <table>
      <tbody>
        <% @teams.each do |team| %>
          <tr>
            <td><%= team.name %></td>
            <td>
              <%= link_to "Edit", edit_team_path(team.id) %>
              <%= link_to "Invite", new_team_invitation_path(team_id: team.id) %>
              <%= link_to "Leave", leave_team_path(team.id), method: :post, data: {confirm: "Are you sure you want to leave #{team.name}?"} %>
              <%= link_to "Delete", team_path(team.id), method: :delete, data: {confirm: "Are you sure you want to delete #{team.name}?"} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <%= link_to "New Team", new_team_path, class: "btn waves-effect waves-light" %>
  </div>
</div>
