<% provide(:title, "Sign in") %>

<div class="container">
  <h1>Sign in</h1>

  <div class="row">
    <%= form_for(:session, url: login_path) do |f| %>
      <%= hidden_field_tag :redirect_url, @redirect_url %>

      <div class="input-field">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'validate form-control' %>
      </div>

      <div class="input-field">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'validate form-control' %>
      </div>

      <%= button_tag 'SUBMIT', class: 'btn waves-effect waves-light', type: 'button', onclick: 'submit();' %>
    <% end %>
  </div>

  <%= link_to "Forgot password?", new_password_reset_path %> or New user? <%= link_to "Sign up", signup_path %>
</div>