<div class="container">
  <h1><%= yield(:title) %></h1>

  <div class="row">
    <%= form_with model: @user do |f| %>

      <div class="input-field">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'validate form-control' %>
      </div>

      <div class="input-field">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'validate form-control' %>
      </div>

      <div class="input-field">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'validate form-control' %>
      </div>

      <div class="input-field">
        <%= f.label :password_confirmation, "Password Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'validate form-control' %>
      </div>

      <%= button_tag 'SUBMIT', class: 'btn waves-effect waves-light', type: 'button', onclick: 'submit();' %>
    <% end %>
  </div>
</div>
