<% provide(:title, 'Your mood') %>

<div class="container">
  <div class="row">
    <div class="mood-selector">
      <p class="message">What's up?</p>
      <% Mood.scores.keys.each do |score| %>
        <%= form_with(model: @today_mood, local: true) do |f| %>
          <%= f.hidden_field :date, value: @calendar_dates.last %>
          <%= f.hidden_field :score, value: score %>
          <%= image_submit_tag Mood.image_path(score), class: "emoji" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <table class="calendar striped">
      <tbody>
        <tr>
          <% @calendar.each do |team_name, team_calendars| %>
            <tr>
              <th class="name"><%= team_name %></th>
              <% @calendar_dates.each do |date| %>
                <th class="date"><%= date.day %></th>
              <% end %>
            </tr>
            <% team_calendars.each do |user_calendars| %>
              <tr>
                <% user_calendars.each do |user_name, calendar| %>
                  <td class="name"><%= user_name %></td>
                  <% calendar.each do |day| %>
                    <td class="date"><%= image_tag Mood.image_path(day.score) if day.score %></td>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>