<% provide(:title, 'Your mood') %>

<div class="container">
  <div class="row">
    <div class="col s4 offset-s4 " style="display:inline-flex">
      <p>Today's mood?</p>
      <% Mood::Score::list.each do |mood_score| %>
        <%= form_with(model: @user.today_mood, local: true) do |f| %>
          <%= f.hidden_field :date, :value => @calendar_dates.last %>
          <%= f.hidden_field :score, :value => mood_score %>
          <%= image_submit_tag Mood::Score::image_path(mood_score), class: "mood-img" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <table>
      <tbody>
        <tr>
          <th></th>
          <% @calendar_dates.each do |date| %>
            <th><%= date.day %></th>
          <% end %>
        </tr>
        <tr>
          <% @calendars.each do |calendar| %>
            <td><%= calendar[:user_name] %></td>
            <% calendar[:calendar].each do |day| %>
              <td><%= day[:score] %></td>
            <% end %>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>