<!DOCTYPE html>
<html>
  <head>
    <title>NikonikoCalendar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "/assets/#{controller.controller_name}", media: "all" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script>
      $(document).ready(function(){
        $('.sidenav').sidenav();
      });

      $(document).ready(function(){
        $('select').formSelect();
      });
    </script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render "shared/toast_messages" %>
  </body>
</html>
